<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Especialización y Formulario de Inscripción</title>
</head>
<body>
    <h1>Detalle de Especialización</h1>
    <h2>Información del Coach</h2>
    <p>Ficha de Ingreso: {{ coach.ficha_de_ingreso }}</p>
    <p>Documento: {{ coach.documento }}</p>
    <p>Nombre: {{ coach.nombre }}</p>
    <p>Apellido: {{ coach.apellido }}</p>
    <p>Edad: {{ coach.edad }}</p>
    <p>Género: {{ coach.genero }}</p>
    <p>Teléfono: {{ coach.telefono }}</p>
    <p>Correo: {{ coach.correo }}</p>
    <p>Dirección: {{ coach.direccion }}</p>
    <p>Experiencia: {{ coach.experiencia }}</p>
    <p>Especialización: {{ coach.especializacion }}</p>
    <p>Horarios: {{ coach.horarios }}</p>

    <!-- Formulario para inscribirse en el coach -->
    <h2>Inscripción en el Coach</h2>
    <form action="" method="post">
        {% csrf_token %}
        <!-- Campo oculto para indicar que el usuario está inscrito -->
        <input type="hidden" name="inscrito" value="True">
        <button type="submit">Inscribirse</button>
    {% comment %} </form>

    <!-- Formulario para inscribirse como usuario -->
    <h2>Inscripción como Usuario</h2>
    <form action="{% url 'inscribir_user' user_id=user.id %}" method="post">
        {% csrf_token %}
        <label for="documento">Documento:</label>
        <input type="text" id="documento" name="documento" required>
        <label for="coach">Seleccione un Coach:</label>
        <select id="coach" name="coach_id">
            {% for coach in coaches %}
                <option value="{{ coach.id }}">{{ coach.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit">Inscribirse</button>
    </form> {% endcomment %}
</body>
</html>
{% comment %} {% url 'inscribir_user' coach_id=coach.id %} {% endcomment %}