<div class="content_busqueda" id="redes_contacto">


  <div class="contacto_footer">
    <h3>redes y contacto</h3>

    <div class="seccion_redes">
      <i class="fa-brands fa-instagram" style="color: #000000;"></i>
      <i class="fa-brands fa-square-facebook" style="color: #000000;"></i>
      <i class="fa-brands fa-square-x-twitter" style="color: #000000;"></i>
    </div>
  </div>
  <div class="seccion_contacto">
    <div class="contacto">
      <p>numeros de contacto:</p>
      <p>00000000000</p>
      <p>00000000000</p>
    </div>
    <div class="contacto">
      <p>E-mails de contacto:</p>
      <p>00000000000</p>
      <p>00000000000</p>
    </div>
    <div class="contacto">
      <p>localizacion:</p>
      <p>00000000000</p>
      <p>00000000000</p>
    </div>
  </div>
</div>