{% load static %}
<h3>Rutas Dieteticas</h3>
<div class="dietas">

  <div class="block_img_dieta">
    <a href="{% url 'dietas_en' %}">
      <img class="img_dieta" src="{% static 'images/foot1.jpg' %}" alt="">
      <div class="overlay2">Ver</div>
    </a>
  </div>

  <div class="block_img_dieta">
    <a href="{% url 'dietas_en' %}">
      <img class="img_dieta" src="{% static 'images/foot2.jpg' %}" alt="">
      <div class="overlay2">Ver</div>
    </a>
  </div>

  <div class="block_img_dieta">
    <a href="{% url 'dietas_en' %}">
      <img class="img_dieta" src="{% static 'images/foot3.jpg' %}" alt="">
      <div class="overlay2">ver</div>
    </a>
  </div>

  <div class="block_img_dieta">
    <a href="{% url 'dietas_en' %}">
      <img class="img_dieta" src="{% static 'images/foot4.jpg' %}" alt="">
      <div class="overlay2">Ver
      </div>
    </a>
  </div>

</div>