{% load static %}
<section class="banner">
  <div class="container">
    <video autoplay muted loop class="banner-background">
      <source src="{% static 'images/videosbanner.mp4' %}" type="video/mp4">
      Tu navegador no soporta la etiqueta de video.
    </video>
    <div class="overlay">
      <h1 class="saludo__titulo">...VITALGYM...<br>..BU..</h1>
    </div>
  </div>
</section>


<section class="carrusel">
  <div class="container">
    <h2 class="carrusel__titulo" id="inscripciones">inscripciones</h2>
    <div class="carrusel__lista">
      <div class="container_miniimagen">
        <div class="miniimagen">
            <a href="{% url 'list_clientes_fitness'%}">
            <i class="fa-solid fa-dumbbell fa-2x" style="color: #db0e0e;"></i></a>
        </div><i>fitness</i>
      </div>
      <div class="container_miniimagen">
        <div class="miniimagen">
         <a href="{% url 'list_clientes_pilates'%}">
            <i class="fa-solid fa-person-biking fa-2x" style="color: #db0e0e;"></i></a>
        </div><i>Pilates</i>
      </div>
      <div class="container_miniimagen">
        <div class="miniimagen">
           <a href="{% url 'list_clientes_rehabilitacion'%}">
            <i class="fa-solid fa-wheelchair fa-2x" style="color: #db0e0e;"></i></a>
        </div><i>rehabilitacion física</i>
      </div>
      <div class="container_miniimagen">
        <div class="miniimagen">
          <a href="{% url 'list_clientes_mayores'%}">
            <i class="fa-solid fa-person-cane fa-2x" style="color: #db0e0e;"></i></a>
        </div><i>plan para mayores</i>
      </div>
      <div class="container_miniimagen">
        <div class="miniimagen">
          <a href="{% url 'list_clientes_yoga' %}">
            <i class="fa-solid fa-hands-praying fa-2x" style="color: #db0e0e;"></i></a>
        </div><i>yoga</i>
      </div>
      <div class="container_miniimagen">
        <div class="miniimagen">
          <a href="{% url 'list_clientes_fitness' %}">
            <i class="fa-solid fa-person-running fa-2x" style="color: #db0e0e;"></i></a>
        </div><i>gimnasia</i>
      </div>
    </div>
  </div>
</section>