<body>
  <main>
    <section>
      <div class="container">
        <form class="bloquesito" action="{% url 'signup_cl' %}" method=" get">

          <div class=p_bloque>
            <h3 class="title">signup de usurio</h3>
            <div class="bloquesito">
              {% csrf_token %}
              <div class="block">
                <div>
                  <label for="nombre">nombre:</label>
                  <input type="text" id="nombre" name="nombre" minlength="8" maxlength=15 placeholder="nombre"
                    id="password" class="input_uni" required />

                  <label for="apellido">apellido:</label>
                  <input type="text" id="apellido" name="apellido" maxlength=15 minlength="8" placeholder="apellido"
                    class="input_uni" required />


                </div>
              </div>
              <div class="block">
                <div>
                  <label for="numero">Numero de telefono:</label>
                  <input type="tel" name="numero" minlength="8" maxlength=10 placeholder="Numero de telefono"
                    id="numero " class="input_uni" required>

                  <label for="edad">Edad:</label>
                  <input type="text" name="edad" maxlength="2" placeholder="Edad" id="edad" class="input_uni" required>
                </div>
              </div>
            </div>

            <label for="password">contraseña:</label>
            <input type="password" name="password" minlength="8" placeholder="contraseña" id="password"
              class="input_uni" required />
            <label for="password">repita contraseña:</label>
            <input type="password" name="password" minlength="8" placeholder="contraseña" id="password"
              class="input_uni" required />

            <P>Genero:</P>
            <div class="block2">

              <div>

                <div class="Gener">
                  <input name="botoncito" type="radio" value="" id="Hombre" />
                  <label for="Hombre">Hombre</label>
                  <input name="botoncito" type="radio" value="" id="Mujer" />
                  <label for="Mujer">Mujer</label>
                  <input name="botoncito" type="radio" value="" id="Otro" />
                  <label for="Otro">Otro</label>
                </div>
              </div>
            </div>


            <button type="submit" class="button">Registrarse</button>

          </div>
        </form>
  </main>
</body>