{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar Administrador</title>
  <link rel="stylesheet" href="{% static 'signup_admin.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <main class="container">
    <form id="formulario_admin" action="{% url 'signup_ad' %}" method="post">
      {% csrf_token %}
      <div class="p_bloque">
        <h3 class="title">Signup Administrador</h3>

        <div class="bloquesito">
          <div class="block">
            {{ admin_form.identificacion_propietario.label_tag }}
            {{ admin_form.identificacion_propietario }}

            {{ admin_form.documento.label_tag }}
            {{ admin_form.documento }}
   
            {{ admin_form.nombre_admin.label_tag }}
            {{ admin_form.nombre_admin }}
          </div>
          
          <div class="block">
            {{ admin_form.apellido_admin.label_tag }}
            {{ admin_form.apellido_admin }}
            {{ admin_form.telefono.label_tag }}
            {{ admin_form.telefono }}
       
            {{ admin_form.correo.label_tag }}
            {{ admin_form.correo }}
  
            {{ admin_form.direccion.label_tag }}
            {{ admin_form.direccion }}
 
            {{ admin_form.contrasena_admin.label_tag }}
            {{ admin_form.contrasena_admin }}
          </div>
        </div>
        <button type="submit" class="button">Registrarse</button>
      </div>
    </form>
  </main>

  <!-- Enlace al archivo JavaScript estático -->

</body>
</html>
