{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar entrenador</title>
  <link rel="stylesheet" href="{% static 'signup_entrenador.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <main class="container">
    <form action="{% url 'signup_en' %}" method="post">
      <div class=p_bloque>
        <h3 class="title">Registro</h3>
        <div class=bloquesito>

          {% csrf_token %}
          <div class="block">
            <div>
              {{ coach.documento.label_tag }}
              {{ coach.documento }}

              {{ coach.nombre.label_tag }}
              {{ coach.nombre }}

              {{ coach.apellido.label_tag }}
              {{ coach.apellido }}

              {{ coach.direccion.label_tag }}
              {{ coach.direccion }}
            </div>
          </div>

          <div class="block">
            <div>
              {{ coach.edad.label_tag }}
              {{ coach.edad }}

              {{ coach.telefono.label_tag }}
              {{ coach.telefono }}

              {{ coach.correo.label_tag }}
              {{ coach.correo }}
            </div>
          </div>

          <div class="block">
            <div>
              {{ coach.genero.label_tag }}
              {{ coach.genero }}

              {{ coach.contrasena.label_tag }}
              {{ coach.contrasena }}

              {{ coach.ficha_de_ingreso.label_tag }}
              {{ coach.ficha_de_ingreso }}
            </div>
          </div>

          <div class="block">
            <div>
              {{ coach.experiencia.label_tag }}
              {{ coach.experiencia }}



              {{ coach.horarios.label_tag }}
              {{ coach.horarios }}

            </div>
            <div class="block">
              {{ coach.especializacion.label_tag }}
              {{ coach.especializacion }}
              <div>
              </div>

            </div>
            <button type="submit" class="button">Registrarse</button>
          </div>
    </form>
  </main>
</body>

</html>