<body>
  <main>
    <section>
      <div class="container">

        <h3>Registro</h3>
        <form action="{% url 'signup_ad' %}" method="post"><!--enctype="multipart/form-data" -->
          <div class=p_bloque>
            <div class=bloquesito>
              {% csrf_token %}
              <div class="uno">
                <label for="DNI_propietario">Identificación del Propietario:</label>
                <input type="text" id="DNI_propietario" placeholder="identificacion propietario" maxlength="7"
                  minlength="7" class="input_uni" required>

                <label for="Documento">Documento:</label>
                <input type="text" id="Documento" placeholder="Numero de Documento" maxlength="10" class="input_uni"
                  minlength="10" required>

                <label for="Nombre_admin">Nombre de Administrador:</label>
                <input type="text" placeholder="Nombre de Administrador" id="Nombre_admin" class="input_uni"
                  maxlength="15" minlength="6" required>


                <label for="Apellido_admin">Apellido:</label>
                <input type="text" placeholder="Apellido" id="Apellido_admin" class="input_uni" maxlength="30" required>
              </div>
              <div class="dos">
                <label for="telefono">Teléfono:</label>
                <input type="tel" placeholder="Numero de telefono" id="telefono" class="input_uni" maxlength="14"
                  minlength="10" required>

                <label for="correo">Correo Electrónico:</label>
                <input type="email" placeholder="E-mail" id="correo" class="input_uni" maxlength="75" minlength="20"
                  required>

                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" placeholder="Direccion" class="input_uni" maxlength="75"
                  minlength="10" required>

                <label for="contrasena_admin">Contraseña de Administrador:</label>
                <input type="password" placeholder="Contraseña de Administrador" id="contrasena_admin" maxlength="40"
                  minlength="8" class="input_uni" required>
              </div>
            </div>

            <button type="submit" class="button">Registrarse</button>

          </div>
        </form>
      </div>
    </section>
  </main>
</body>