<body>
  <main class="container">
    <form action="{% url 'signup_ad' %}" method="post"><!--enctype="multipart/form-data" -->
      <div class=p_bloque>
        <h3 class="title">signup Administrador</h3>
        <div class="bloquesito">
          {% csrf_token %}
          <div class="block">
            <div class="SignupAdminPartOne">
              {{ admin_part_one.DNI_propietario.label_tag }}
              {{ admin_part_one.DNI_propietario }}

              {{ admin_part_one.Documento.label_tag }}
              {{ admin_part_one.Documento }}

              {{ admin_part_one.Nombre_admin.label_tag }}
              {{ admin_part_one.Nombre_admin }}

              {{ admin_part_one.Apellido_admin.label_tag }}
              {{ admin_part_one.Apellido_admin }}
            </div>
          </div>

          <div class="block">
            <div class="SignupAdminPartTwo">
              {{ admin_part_two.telefono.label_tag }}
              {{ admin_part_two.telefono }}

              {{ admin_part_two.direccion.label_tag }}
              {{ admin_part_two.direccion }}

              {{ admin_part_two.correo.label_tag }}
              {{ admin_part_two.correo }}

              {{ admin_part_two.contrasena_admin.label_tag }}
              {{ admin_part_two.contrasena_admin }}
            </div>
          </div>



        </div>

        <button type="submit" class="button">Registrarse</button>

      </div>
    </form>
  </main>
</body>