<body>
  <main>
    <section>
      <div class="container">
        <form class=bloquesito action="{% url 'signup_en' %}" method="post"><!--enctype="multipart/form-data" -->
          {% csrf_token %}

          <label for="documento">Documento:</label><br>
          <input type="text" id="documento" placeholder="Numero de Documento" maxlength="10" class="input_uni"
            required><br>

          <label for="nombre">Nombre:</label><br>
          <input type="text" placeholder="Nombre" id="nombre" maxlength="15" class="input_uni" required><br>

          <label for="apellido">Apellido:</label><br>
          <input type="text" placeholder="Apellido" id="apellido" class="input_uni" maxlength="15" required><br>

          <label for="fecha_nacimiento">Fecha de Nacimiento:</label><br>
          <input type="date" id="fecha_nacimiento" class="input_uni" required name="trip-start" value="2018-07-22"
            min="2018-01-01" max="2018-12-31" class="date"><br>

          <label for="telefono">Teléfono:</label><br>
          <input type="tel" placeholder="Numero de telefono" id="telefono" class="input_uni" maxlength="10"
            required><br>

          <label for="correo">Correo Electrónico:</label><br>
          <input type="email" placeholder="E-mail" id="correo" class="input_uni" maxlength="75" required><br>

          <label for="direccion">Dirección:</label><br>
          <input type="text" id="direccion" placeholder="Direccion" class="input_uni" maxlength="75" required><br>

          <label for="nombre_usuario">Nombre de Usuario:</label><br>
          <input type="text" placeholder="Nombre de Usuario" id="nombre_usuario" class="input_uni" maxlength="15"
            required><br>


          <label for="contrasena">Contraseña:</label><br>
          <input type="password" placeholder="Contraseña" id="contrasena" maxlength="40" class="input_uni" required><br>

          <label for="ficha_de_ingreso">Ficha de Entrenador:</label><br>
          <input type="text" id="ficha_de_ingreso" placeholder="Ficha de Entrenador:" maxlength="7" class="input_uni"
            required><br>

          <label for="experiencia">Experiencia:</label><br>
          <input type="text" id="experiencia" placeholder="Experiencia" maxlength="2" class="input_uni" required><br>

          <label for="conocimiento">Conocimiento:</label><br>
          <textarea id="conocimiento" placeholder="Conocimiento" class="input_uni" maxlength="255"
            required></textarea><br>

          <label for="foto_perfil">Foto de Perfil:</label><br>
          <input type="file" id="foto_perfil" name="foto_perfil" accept="image/*" class="input_uni" required><br>

          <label for="horario_de_entrada">Horario de Entrada:</label><br>
          <input type="time" id="horario_de_entrada" name="horario_de_entrada" class="input_uni" required><br>

          <label for="horario_de_salida">Horario de Salida:</label><br>
          <input type="time" id="horario_de_salida" name="horario_de_salida" class="input_uni" required><br>

          <label for="id_genero_0">Masculino:</label>
          <input type="radio" name="genero" value="Masculino" required id="id_genero_0">
          <label for="id_genero_1">Femenino:</label>
          <input type="radio" name="genero" value="Femenino" required id="id_genero_1">
          <label for="id_genero_2">Otro:</label>
          <input type="radio" name="genero" value="Otro" required id="id_genero_2">


          <button type="submit" class="button">Registrarse</button>
        </form>
      </div>
    </section>
  </main>
</body>