{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar cliente</title>
  <link rel="stylesheet" href="{% static 'signup_cliente.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <main class="container">
    <form id="formulario_user" action="{% url 'signup_cl' %}" method="post">
      <div class="p_bloque">
        <h3 class="title">signup de usuario</h3>
        <div class="bloquesito">
          {% csrf_token %}

          <div class="block">
            <div>
              {{ user_form.nombre.label_tag }}
              {{ user_form.nombre }}
              {{ user_form.apellido.label_tag }}
              {{ user_form.apellido }}
              {{ user_form.edad.label_tag }}
              {{ user_form.edad }}
              {{ user_form.genero.label_tag }}
              {{ user_form.genero }}

              
            </div>
          </div>
          <div class="block">
            <div>
              
              {{ user_form.contrasena.label_tag }}
              {{ user_form.contrasena }}

              {{ user_form.correo.label_tag }}
              {{ user_form.correo }}

              {{ user_form.documento.label_tag }}
              {{ user_form.documento }}
              {{ user_form.telefono.label_tag }}
              {{ user_form.telefono }}
          </div>
        </div>

        
      </div><button type="submit" class="button">Registrarse</button>
    </form>
  </main>
  <script>
$(document).ready(function() {
  $('#formulario_user').submit(function(e) {
    // Evitar que el formulario se envíe por defecto
    e.preventDefault();

    // Validación de campos aquí
    var nombreAdmin = $('#id_nombre_user').val();
    if (nombreAdmin.trim() == '') {
      $('#nombre_user_error').text('Por favor ingresa un nombre.');
      return false; // Detener el envío del formulario si hay un error
    } else {
      $('#nombre_user_error').text('');
    }

    // Agrega validación para los otros campos

    // Si todos los campos son válidos, envía el formulario
    this.submit();
  });
});
</script>
</body>

</html>
