:root {
  /* Tamaños de las cartas */
  --card-width: 300px;
  --card-height: 400px;

  /* Colores */
  --main-bg-color: #000000;
  --text-color: #ffffff;
  --primary-color: #db0e0e;
  --secondary-color: #ffffff;
  --button-bg-color: #f93232;
  --button-hover-color: #c41212;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}




main {
    padding: 20px;
    
}



.container{
display: flex;
align-items: center;
flex-direction: column;
height: 800px;

}
.bloquesito{
background-color:#000000;
margin: auto 0;
padding: 5%;
border: none;
border-radius: 8%;
color: aliceblue;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
 .bloquesito div input{
margin-bottom: 5%;
width:300px;
height:50px;
border-radius:10px;
}

a{
  color: #349FFF;
}
.button:hover {
  background-color: #349FFF;
}
.button {
  width: 88px;
  height: 44px;
  background-color: #FFE438;
  border-radius: 8px;
  color: #182139;
  border-style: none;
  cursor: pointer;

}