* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes move-it {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 100px 0px;
  }
}


body {
  background: linear-gradient(196deg,#ffff00,#0097ff,#000000);
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



main {
    padding: 20px;
    
}



.container{
display: flex;
align-items: center;

width: 400px;;

}
.bloquesito{
display: flex;
color: aliceblue;

}
.p_bloque{
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 30px;
  border: none;
  gap:15px;
  justify-content: center;
  background-color:#000000;
  border-radius: 50px;
  margin-top: 50px;
}

.uno{
display: 0;
justify-content: center;
align-items: center;
flex-direction: column;
}

.dos
{
display: 1;
justify-content: center;
align-items: center;
flex-direction: column;
}



.input_uni {
margin: 2%;
width:400px;
height:40px;
border-radius:10px;
}

a{
  color: #349FFF;
}
.button:hover {
  background-color:#ffff00;
}
.button {
  width: 88px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 8px;
  color: #182139;
  border-style: none;
  cursor: pointer;

}
.Gener{
  display: flex;
  gap:20px;
}

.Gener input{
  width:20px;
  height:20px;
}

.date{
  margin: 2%;
width:400px;
height:40px;
border-radius:10px;
}