* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
   
}



.container{
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://images.pexels.com/photos/4164766/pexels-photo-4164766.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}


.p_bloque{
  display: flex;
  flex-direction: column;
  width: 550px;
  border: none;
  justify-content: center;
  align-items: center;
  background-color:#000000b6;
  border-radius: 50px;
  color: aliceblue;
  gap: 2rem;
  padding: 20px;
  margin:0px 30px 0px 30px;

}


.bloquesito{
display: flex;
text-align: center;
margin: 0px 30px 0px 30px;

}


.block {
    flex: 1;  
}
.block div{
  flex-direction: column;
  display:flex;
  align-items: center;
  width:250px;
  justify-content: center;
}

.input_uni {
margin: 20px 0px 20px 0px;
padding:0px 5px 0px 5px;; 
width:200px;
height:30px;
border-radius:10px;
border: none;
}


.button:hover {
  background-color:#ffff00;
}
.button {
  width: 88px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 8px;
  color: #182139;
  border-style: none;
  cursor: pointer;

}

