 <!-- Formulario para inscribirse como usuario -->
 <h2>Inscripción como Usuario</h2>
 

    <form action="{% url 'inscribir_user' user_id=user.id %}" method="post">
        {% csrf_token %}
        <label for="documento">Documento:</label>
        <input type="hidden" id="documento" name="documento" value="{{ user.documento }}">
        <label for="coach">Seleccione un Coach:</label>
        <select id="coach" name="coach_id">
            {% for coach in coaches %}
                <option value="{{ coach.id }}">{{ coach.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit">Inscribirse</button>
    </form> 
</body>
</html> 

{% comment %} {% url 'inscribir_user' coach_id=coach.id %}   {% endcomment %}