<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Coach</title>
</head>
<body>
    <h2>Login - Coach</h2>
    <form method="post">
        {% csrf_token %}
        {{ error_message }}
        <input type="text" name="ficha_de_ingreso" placeholder="Ficha de Ingreso"><br>
        <input type="password" name="contrasena" placeholder="Contraseña"><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
