<body>
  <main>
    <form action="{% url 'login_en' %}" method="post">
      <div class="container">
        <div class="bloquesito">
          {% csrf_token %}
          <div>
            <label for="documento">Documento:
              <input type="text" id="documento" name="documento" placeholder="Numero de Documento" maxlength="10"
                class="input_uni" required></label> <br>

            <label for="contrasena">Contraseña:
              <input type="password" placeholder="Contraseña" id="contrasena" name="contrasena" maxlength="40"
                class="input_uni" required></label><br>

          </div>
          <select name="Rol" id="">Rol
            <option value="admin">admin</option>
            <option value="entrenador">entrenador</option>
            <option value="cliente">cliente</option>
          </select>
          <br>
          <label>Recoradar datos:<input id="datos" name="datos" type="checkbox" checked></label>
          <br>
          <label><a href="reset-password.html">¿Olvidaste tu contraseña?</a></label>
          <br>
          <a href="SignUp.html" .html">Registrar</a>
          <br>
          <button type="submit" class="button">Iniciar Sesion</button>
        </div>
      </div>
    </form>
  </main>
</body>