{% load static %}
<h3>Rutas Dieteticas</h3>
<div class="galeria">

  <div class="galeria_ambientes">
    <a href="{% url 'galeria' %}">
      <img class="img_ambientes" src="{% static 'images/ambiente1.png' %}" alt="">
      <div class="overlay3">ver</div>
    </a>
  </div>

  <div class="galeria_ambientes">
    <a href="{% url 'galeria' %}">
      <img class="img_ambientes" src="{% static 'images/ambiente2.png' %}" alt="">
      <div class="overlay3">Ver</div>
    </a>
  </div>

  <div class="galeria_ambientes">
    <a href="{% url 'galeria' %}">
      <img class="img_ambientes" src="{% static 'images/ambiente3.png' %}" alt="">
      <div class="overlay3">Ver</div>
    </a>
  </div>
  <div class="galeria_ambientes">
    <a href="{% url 'galeria' %}">
      <img class="img_ambientes" src="{% static 'images/ambiente4.png' %}" alt="">
      <div class="overlay3">ver</div>
    </a>
  </div>
  <div class="galeria_ambientes">
    <a href="{% url 'galeria' %}">
      <img class="img_ambientes" src="{% static 'images/ambiente5.png' %}" alt="">
      <div class="overlay3">ver</div>
    </a>
  </div>