<h1>Lista de Entrenadores</h1>
<div class="galeria_de_productos">
  <div class="card">
    {% for coach in coach_save %}
    <p>Nombre: {{ coach.nombre }}</p>
    {% endfor %}
  </div>
  <div class="card">

    {% for coach in coach_save %}
    <p>Nombre: {{ coach.nombre }}</p>
    {% endfor %}
  </div>
  <div class="card">

    {% for coach in coach_save %}
    <p>Nombre: {{ coach.nombre }}</p>
    {% endfor %}
  </div>
  <div class="card">

    {% for coach in coach_save %}
    <p>Nombre: {{ coach.nombre }}</p>
    {% endfor %}
  </div>
</div>

<div class="content_button">
  <a href="{% url 'list_coachs_fitness' %}">Ver más entrenadores
  </a>
</div>