<section class="banner">
  <div class="container">

    <h1 class="saludo__titulo">
      SPORTS <br>.BU.</h1>
  </div>
</section>
<section class="carrusel">
  <div class="container">
    <h2 class="carrusel__titulo" id="inscripciones">inscripciones</h2>
    <div class="carrusel__lista">
      <div>
        <div class="miniimagen">
          <a href="{% url 'list_coachs_fitness' %}">
            <i class="fa-solid fa-dumbbell fa-2x" style="color: #ff7a00;"></i>
          </a>
        </div>
        <i>fitness</i>
      </div>
      <div>
        <div class="miniimagen">
          <a href="{% url 'list_coachs_pilates' %}">
            <i class="fa-solid fa-person-biking fa-2x" style="color: #ff7a00;"></i>
          </a>
        </div><i>Pilates</i>
      </div>
      <div>
        <div class="miniimagen"><a href="{% url 'list_coachs_rehabilitacion' %}">
            <i class="fa-solid fa-wheelchair fa-2x" style="color: #ff7a00;"></i></a>
        </div><i>rehabilitacion física</i>
      </div>
      <div>
        <div class="miniimagen"><a href="{% url 'list_coachs_mayores' %}">
            <i class="fa-solid fa-person-cane fa-2x" style="color: #ff7a00;"></i></a>
        </div><i>plan para mayores</i>
      </div>
      <div>
        <div class="miniimagen"><a href="{% url 'list_coachs_yoga' %}">
            <i class="fa-solid fa-hands-praying fa-2x" style="color: #ff7a00;"></i></a>
        </div><i>yoga</i>
      </div>
      <div>
        <div class="miniimagen"><a href="{% url 'list_coachs_gimnasia' %}">
            <i class="fa-solid fa-person-running fa-2x" style="color: #ff7a00;"></i></a>
        </div><i>gimnasia</i>
      </div>
      <div>
        <div class="miniimagen">
          <i class="fa-solid fa-carrot fa-2x" style="color: #ff7a00;"></i>
        </div><i>plan de nutricion</i>
      </div>
    </div>
  </div>
</section>