<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle de Entrenador</title>
</head>

<body>
  <h1>Detalles del Entrenador</h1>
  <p>Nombre: {{ coach.nombre }}</p>
  <p>Especialización: {{ coach.especializacion }}</p>
  <p>horarios: {{coach.horarios}}</p>
  <!-- Agrega más detalles del entrenador según tus modelos -->

  <!-- Agrega un enlace para inscribirse -->
  <a href="{% url 'inscribirse' coach.especializacion coach.id %}">Inscribirse</a>


</body>

</html>