<h3 id="productos">New products</h3>
<div class="galeria_de_productos">
  <div class="card">
    <img class="img_galerie" src="" alt="">
    <h2>Persona 1</h2>
    <p>Edad: 25 años</p>
    <p>Profesión: Desarrollador web</p>
    <p>Ciudad: Ciudad de Ejemplo</p>
  </div>
  <div class="card">
    <img class="img_galerie" src="" alt="">
    <h2>Persona 1</h2>
    <p>Edad: 25 años</p>
    <p>Profesión: Desarrollador web</p>
    <p>Ciudad: Ciudad de Ejemplo</p>
  </div>
  <div class="card">
    <img class="img_galerie" src="" alt="">
    <h2>Persona 1</h2>
    <p>Edad: 25 años</p>
    <p>Profesión: Desarrollador web</p>
    <p>Ciudad: Ciudad de Ejemplo</p>
  </div>
  <div class="card">
    <img class="img_galerie" src="" alt="">
    <h2>Persona 1</h2>
    <p>Edad: 25 años</p>
    <p>Profesión: Desarrollador web</p>
    <p>Ciudad: Ciudad de Ejemplo</p>
  </div>
</div>

<div class="content_button">
  <button class="button">Ver más</button>
</div>