<div class="medium">
  <div class="content_1">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat aliquam itaque id obcaecati, odit quia
      facere
      neque nam dolores vero porro voluptatibus nemo repellendus fuga pariatur iste non laboriosam ducimus
      similique?
      Voluptas at voluptatum assumenda deleniti necessitatibus vel reiciendis, ducimus mollitia incidunt, nobis
      adipisci
      est. Accusamus nulla quaerat ut beatae!</p>
    <button class="button2">Ver más</button>
  </div>
  <div class="content_miniimg2">
    <div class="img_3"></div>
    <div class="img_4"></div>
  </div>
</div>
<div class="medium_2">
  <div class="content_medium_img">imagen de resultado de busqueda</div>
  <div class="content_tex_button">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ullam. Rerum, obcaecati accusantium
      reiciendis, asperiores quod earum itaque quibusdam explicabo voluptatum, aspernatur mollitia quo libero
      perferendis nisi excepturi odit aut fugiat maiores odio cumque aliquid similique dolorum dolorem praesentium!
      Voluptates fugit quasi eveniet cum quis fugiat fuga animi maiores quidem.</p>
    <button class="button2">Ver más</button>
  </div>
</div>