<section class="banner">
  <div class="container">

    <h1 class="saludo__titulo">
      SPORTS <br>.BU.</h1>
  </div>
</section>
<section class="carrusel">
  <div class="container">
    <h2 class="carrusel__titulo" id="inscripciones">inscripciones</h2>
    <div class="carrusel__lista">
      <div>
        <div class="miniimagen">
          <img src="" alt="">
        </div><i>fitness</i>
      </div>
      <div>
        <div class="miniimagen">
          <img src="" alt="">
        </div><i>Pilates</i>
      </div>
      <div>
        <div class="miniimagen">
          <img src="" alt="">
        </div><i>rehabilitacion física</i>
      </div>
      <div>
        <div class="miniimagen">
          <img src="" alt="">
        </div><i>plan para mayores</i>
      </div>
      <div>
        <div class="miniimagen">
          <img src="" alt="">
        </div><i>yoga</i>
      </div>
      <div>
        <div class="miniimagen">
          <img src="" alt="">
        </div><i>gimnasia</i>
      </div>
      <div>
        <div class="miniimagen">
          <img src="" alt="">
        </div><i>nutricion y dieta</i>
      </div>
      <!-- <div>
            <div class="miniimagen">
              <img src="incon/image 3.png" alt="Protección">
            </div><i>Protección</i>
          </div>
          <div>
            <div class="miniimagen">
              <img src="incon/image 5.png" alt="Membresía">

            </div><i>Membresía</i>
          </div>
          <div>
            <div class="miniimagen">
              <img src="incon/image 6.png" alt="Elementos">
            </div><i>Elementos</i>
          </div> -->
    </div>
  </div>
</section>