{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil del Coach</title>
  <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
  <div class="card_cn">
    <div class="card_one">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if coach %}
        <h2>Información del Coach</h2>
        <p>Ficha de Ingreso: {{ coach.ficha_de_ingreso }}</p>
        <p>Documento: {{ coach.documento }}</p>
        <p>Nombre: {{ coach.nombre }}</p>
        <p>Apellido: {{ coach.apellido }}</p>
        <p>Edad: {{ coach.edad }}</p>
        <p>Género: {{ coach.genero }}</p>
        <p>Teléfono: {{ coach.telefono }}</p>
        <p>Correo: {{ coach.correo }}</p>
        <p>Dirección: {{ coach.direccion }}</p>
        <p>Experiencia: {{ coach.experiencia }}</p>
        <p>Especialización: {{ coach.especializacion }}</p>
        <p>Horarios: {{ coach.horarios }}</p>
        <h3>Eliminar Coach</h3>
        <form action="{% url 'eliminar_coach' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="ficha_de_ingreso" value="{{ coach.ficha_de_ingreso }}">
          <button type="submit" name="eliminar_coach" onclick="return confirm('¿Estás seguro de que deseas eliminar este coach?')">Eliminar Coach</button>
        </form>
        <h3>Actualizar Información del Coach</h3>
        <form action="{% url 'actualizar_coach' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="ficha_de_ingreso" value="{{ coach.ficha_de_ingreso }}">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" value="{{ coach.nombre }}" required>
          <label for="apellido">Apellido:</label>
          <input type="text" id="apellido" name="apellido" value="{{ coach.apellido }}" required>
          <button type="submit" class="button">Actualizar Información</button>
        </form>

      {% else %}
        <h2>Ingrese la Ficha de Ingreso del Coach</h2>
        <form action="{% url 'buscar_coach' %}" method="post">
          {% csrf_token %}
          <label for="ficha_de_ingreso">Ficha de Ingreso:</label>
          <input type="text" id="ficha_de_ingreso" name="ficha_de_ingreso" required>
          <button class="button" type="submit">Mostrar información del Coach</button>
        </form>
      {% endif %}
    </div>
  </div>
</body>
</html>
