
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil del Usuario</title>
  <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
  <div class="card_cn">
    <div class="card_one">
      
        <!-- Formulario para buscar usuario -->
        
        {% if user %}
        <h2>Información del Usuario</h2>
        <p>Documento: {{ user.documento }}</p>
        <p>Nombre: {{ user.nombre }}</p>
        <p>Apellido: {{ user.apellido }}</p>
        <!-- Agrega más campos según sea necesario -->

        <!-- Bloques de eliminar y actualizar -->
        <h3>Eliminar Usuario</h3>
        <form action="{% url 'eliminar_user' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="documento" value="{{ user.documento }}">
          <button type="submit" name="eliminar_user" onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?')">Eliminar Usuario</button>
        </form>
        <h3>Actualizar Información del Usuario</h3>
        <form action="{% url 'actualizar_user' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="documento" value="{{ user.documento }}">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" value="{{ user.nombre }}" required>
          <label for="apellido">Apellido:</label>
          <input type="text" id="apellido" name="apellido" value="{{ user.apellido }}" required>
          <!-- Agrega más campos según sea necesario -->
          <button type="submit" class="button">Actualizar Información</button>
        </form>
        <h2>Ingrese el Documento del Usuario</h2>
        <form action="{% url 'buscar_user' %}" method="post">
          {% csrf_token %}
          <label for="documento">Documento:</label>
          <input type="text" id="documento" name="documento" required>
          <button class="button" type="submit">Mostrar información del Usuario</button>
        </form>

      {% else %}
        <h2>Ingrese el Documento del Usuario</h2>
        <form action="{% url 'buscar_user' %}" method="post">
          {% csrf_token %}
          <label for="documento">Documento:</label>
          <input type="text" id="documento" name="documento" required>
          <button class="button" type="submit">Mostrar información del Usuario</button>
        </form>
      {% endif %}
    
    </div>
  </div>
</body>
</html>





