{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil del Administrador</title>
  <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
  <div class="card_cn">
    <div class="card_one">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if admin %}
        <h2>Información del Administrador</h2>
        <p>Identificación Propietario: {{ admin.identificacion_propietario }}</p>
        <p>Documento: {{ admin.documento }}</p>
        <p>Nombre: {{ admin.nombre_admin }}</p>
        <p>Apellido: {{ admin.apellido_admin }}</p>
        <p>Correo: {{ admin.correo }}</p>
        <p>Teléfono: {{ admin.telefono }}</p>
        <p>Dirección: {{ admin.direccion }}</p>
        <!-- Add more fields here based on your Admin model -->

        <!-- Formulario para eliminar el administrador -->
        <h3>Eliminar Administrador</h3>
        <form action="{% url 'eliminar_admin' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="identificacion_propietario" value="{{ admin.identificacion_propietario }}">
          <button type="submit" name="eliminar_admin" onclick="return confirm('¿Estás seguro de que deseas eliminar este administrador?')">Eliminar Administrador</button>
        </form>

        <h3>Actualizar Información del Administrador</h3>
        <form action="{% url 'actualizar_admin' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="identificacion_propietario" value="{{ admin.identificacion_propietario }}">
          <label for="nombre_admin">Nombre:</label>
          <input type="text" id="nombre_admin" name="nombre_admin" value="{{ admin.nombre_admin }}" required>
          <label for="apellido_admin">Apellido:</label>
          <input type="text" id="apellido_admin" name="apellido_admin" value="{{ admin.apellido_admin }}" required>
          <!-- Add more fields here based on your Admin model -->
          <button type="submit"class="button">Actualizar Información</button>
        </form>

        <a href="{% url 'ad_user' %}">user</a>

      {% else %}
        <h2>Ingrese la Identificación del Propietario</h2>
        <form action="{% url 'buscar_admin' %}" method="post">
          {% csrf_token %}
          <label for="identificacion_propietario">Identificación Propietario:</label>
          <input type="text" id="identificacion_propietario" name="identificacion_propietario" required>
          <button class="button" type="submit">Mostrar mi información</button>
        </form>
      {% endif %}
    </div>
  </div>
</body>
</html>


