{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista Ampliada de la Carta</title>
  <link rel="stylesheet" href="{% static 'main.css' %}">

</head>

<body>
  <div class="card_cn"> <!-- Corregido el error tipográfico "clas" por "class" -->
    <div class="card_one">
      <img src="ruta_de_la_imagen.jpg" alt="Descripción de la imagen">
       <h3>1. Mantenerse en el peso ideal.</h3>
      <p>Todos debemos conocer cuál es nuestro peso ideal, y procurar mantenernos lo más próximo a ese peso. Para ello, debemos</p>
      <br>
      <p>tener en cuenta nuestro índice de masa corporal (IMC) e intentar no desviarnos demasiado de nuestro del índice óptimo</p>
      <p>que corresponde a cada uno de nosotros.</p>
    </div>
  </div>
</body>

</html>