{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista Ampliada de la Carta</title>
  <link rel="stylesheet" href="{% static 'main.css' %}">

</head>

<body>
  <div class="card_cn"> <!-- Corregido el error tipográfico "clas" por "class" -->
    <div class="card_one">
      <img src="ruta_de_la_imagen.jpg" alt="Descripción de la imagen">
      <p>aqui van los cochetes</p>
      <p>aqui form o variable para eliminar la dieta por nombre</p>
      <p>aqui form  para crear la dieta por nombre y text area</p>
      <p>aqui form  para editar la dieta por nombre y text area</p>

      <button class="button">crear</button>
      <button class="button">editar</button>
      <button class="button">eliminar</button>
    </div>
  </div>
</body>

</html>