{% load static %}

{% block title %}
<title>bienvenido</title>
{% endblock title %}

<link rel="stylesheet" href="{% static 'bienvenido.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet">

{% block form %}

<body>
  <main class="container">
    <div class=p_bloque>
      <h3 class="title">bienvenido</h3>
      <div class=bloquesito>
        <p>bienvenido</p>
        <a href="{% url 'index_logeado' %}" class="border1">Regresar al índice</a>
      </div>
    </div>
  </main>
</body>
{% endblock form %}