{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}{% endblock title %}
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="header">

    {% include "layouts/partials/menu_logeado.html" %}
    {% include "layouts/partials/menu2.html" %}
  </header>
  <main class="main_inicio">
    {% include "layouts/partials/main.html"%}

  </main>
  <section class="cards_entrenadores">
    {% include "layouts/partials/card_entrenador.html"%}
  </section>
  <section class="busqueda">
    {% include "layouts/partials/bar_busqueda.html"%}
  </section>
  <section class="content_fiml">
    {% include "layouts/partials/content_fiml.html"%}
  </section>
  <section class="Torneos_1">
    {% include "layouts/partials/torneos_1.html"%}
  </section>
  <footer class="footer">
  </footer>
</body>

</html>