{% load static %}

{% block title %}
<title>opcions</title>
{% endblock title %}

<link rel="stylesheet" href="{% static 'login_opcion.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet">

{% block card_title %}

{% endblock card_title %}
{% block form %}
{% include "opcions/login_opcion.html" %}
{% endblock form %}