{% load static %}

{% block title %}
<title>opcions</title>
{% endblock title %}

<link rel="stylesheet" href="{% static 'signup_opcion.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet">

<body>
  <main class="container">
    <div class=p_bloque>
      <h3 class="title">¿ que rol asumes?</h3>
      <div class=bloquesito>

        {% csrf_token %}

        <a class="border1" href="{% url 'signup_ad' %}">Administrador</a>
        <a href="{% url 'signup_en' %}">Entrenador</a>
        <a class="border2" href="{% url 'signup_cl' %}">cliente</a>
        </li>
        </ul>
      </div>
    </div>
  </main>
</body>