

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Entrenadores y Clientes de Fitness</title>
</head>

<body>
  <h1>Lista de Entrenadores de Yoga</h1>
  <ul>
    {% for coach in coachs_yoga %}
      <li><a href="{% url 'detalle_coachs_yoga' especialization='Yoga' coach_id=coach.id %}">{{ coach.nombre }} {{ coach.apellido }}</a></li>
    {% endfor %}
  </ul>

  <h1>Lista de Clientes de Yoga</h1>
  <ul>
    {% for usuario in usuarios_yoga %}
      <li><a href="{% url 'detalle_cliente_yoga' incripcion='Yoga' coach_id=usuario.id %}">{{ usuario.nombre }} {{ usuario.apellido }}</a></li>
    {% endfor %}
  </ul>
    <form action="{% url 'eliminar_entrenador_por_documento' %}" method="post">
    {% csrf_token %}
    <label for="documento">Documento del entrenador:</label>
    <input type="text" id="documento" name="documento">
    <button type="submit">Eliminar entrenador</button>
  </form>
  <form action="{% url 'eliminar_cuenta_por_documento' %}" method="post">
    {% csrf_token %}
    <label for="documento">Documento del usuario:</label>
    <input type="text" id="documento" name="documento">
    <button type="submit">Eliminar cuenta</button>
</form>
 <a href="{% url 'regresar' pagina_anterior=request.META.HTTP_REFERER %}">Regresar</a>
</body>

</html>


