<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Entrenadores y Clientes de Fitness</title>
</head>

<body>
<!-- list_all_fitness.html -->
<h1>Lista de Entrenadores de Fitness</h1>
<ul>
  {% for coach in coachs_fitness %}
  <li><a href="{% url 'detalle_coachs_fitness' especialization='Fitness' coach_id=coach.id %}">{{ coach.nombre }} {{ coach.apellido }}</a></li>
  {% endfor %}
</ul>

<h1>Lista de Clientes de Fitness</h1>
<ul>
  {% for usuario in usuarios_fitness %}
  <li><a href="{% url 'detalle_cliente_fitness' usuario_id=usuario.id %}">{{ usuario.nombre }} {{ usuario.apellido }}</a></li>
  {% endfor %}
</ul>
{% comment %} 
<form action="{% url 'eliminar_entrenador_por_documento' %}" method="post">
    {% csrf_token %}
    <label for="documento_entrenador">Documento del entrenador:</label>
    <input type="text" id="documento_entrenador" name="documento">
    <button type="submit">Eliminar entrenador</button>
  </form>


  <h1>Eliminar Usuario</h1>
  <form action="{% url 'eliminar_cuenta_por_documento' %}" method="post">
    {% csrf_token %}
    <label for="documento_usuario">Documento del usuario:</label>
    <input type="text" id="documento_usuario" name="documento">
    <button type="submit">Eliminar cuenta</button>
  </form>
    <a href="{% url 'regresar' pagina_anterior=request.META.HTTP_REFERER %}">Regresar</a> {% endcomment %}
</body>

</html>